
/*
 * comsomol_area.css
 */

/* dark (default) */

[is="comsomol-area"] {

  display: inline-grid;
  /*
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  */
}

[is="comsomol-area"] textarea, [is="comsomol-area"] pre {

  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: stretch;
  align-self: stretch;

  margin: 0;
  padding: 1rem;
  border: 0;

  overflow: auto;
  /*
  white-space: nowrap; // no good  :-|
  */

  vertical-align: top;
  width: 100%;
  height: 100%;
}

[is="comsomol-area"] * {

  font-family: monospace;
  line-height: 1.14em;
}

[is="comsomol-area"] textarea {

  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;

  resize: none;
}

[is="comsomol-area"] pre {

  z-index: 0;

  color: white;
  background-color: black;
}


/* light */

[is="comsomol-area"].light {
}

